.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

:host {
    color: white;
}

.center-everything {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}