<div class='center-everything'>
    <div class="title">
        <h1>
            Hire Me
        </h1>
    </div>
    <div class="container">
        <form class="my-5 mx-5">
            <div class="form-group row">
                <label for="emailInput" class="col-md-2 col-sm-4">Email</label>
                <input class="form-control col-sm-8 col-md-10" id="emailInput" innerText='{{email}}' type="email"
                    placeholder="john@doe.com">
                <small class="form-text text-muted">Your email will not be shared with anyone.</small>
            </div>
            <div class="form-group row">
                <label for="nameInput" class="col-md-2">Name</label>
                <input class="form-control col-md-10" id="nameInput" innerText='{{name}}' type="text"
                    placeholder="John Doe">
            </div>
            <div class="form-group row">
                <label for="titleInput" class="col-md-2">Title</label>
                <input id="titleInput" class="form-control col-md-10" placeholder="We want to hire you!"
                    innerText='{{title}}' type="text">
            </div>
            <div class="form-group row">
                <label for="messageInput" class="col-md-2">Message</label>
                <textarea class="form-control col-12" id="messageInput" innerText='{{message}}' rows="5"
                    placeholder="Hello Carlos, we're contacting you from a Big Tech Company. We're interested in your skills and would like you to work with us. That's why we're offering this Big Salary of 100.00k$ per year + bonuses + a LOT of benefits, including full paid relocation and visa sponsorship. Please contact us soon!">
                    </textarea>
            </div>
            <div class="row">
                <button class="col-md-offset-9 col-md-3 btn btn-success" type="button" (click)='onSendMessage()'>Send
                    Message</button>
            </div>
        </form>
    </div>
</div>