:host {
  --pixelsTranslated:0px;
}

.hamburger-line {
  background: white;
  border-radius: 2%;
  transition: all 0.6s linear;
}

.hamburger-button {
  background: transparent;
  border-width: 0px;
  outline: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hamburger-button:hover > .hamburger-line {
  background: purple;
  box-shadow: black 4px 4px 4px;
}

.hamburger-button.clicked > .hamburger-line:first-child {
  transform: translateY(var(--pixelsTranslated)) rotate(-45deg);
}

.hamburger-button.clicked > .hamburger-line.middle-element {
  transform: translateY(-1000%);
  opacity:0;
}

.hamburger-button.clicked > .hamburger-line:last-child {
  transform: translateY(calc(-1*var(--pixelsTranslated))) rotate(+45deg);
}