div {
    color: white;
}

.side-bar {   
    height: 100vh;
    display: flex;
    position: sticky;
    flex-direction: column;
    z-index: 1;
    background-image: linear-gradient(180deg, rgb(9,20,51), rgb(26,22,56));
    /* background-color: rgb(9,20,51); */
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); 
}


.hamburger-button {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

ul {
   padding: 0px;
   margin: 0px;
}

.side-bar-links {
    height: 90vh;
    display: flex;
    align-content: center;
}

.navigation {
    list-style-position: outside;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.navigation li {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.navigation-button {
    width: 100%;
    outline: none;
    border: 0px;
    padding: 10px 0px;
    background: transparent;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration: none;
}

.fa {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navigation-button:hover, .selected-button {
    background: rgb(255,255,255,0.3);
    box-shadow: 2px 2px 2px black;
}

.navigation-button:hover > div.fa {
    color: rgb(79,27,73);
}

.selected-button > div.fa {
    color: rgb(79,27,73);
}
